*{
    font-family: 'Times New Roman', Times, serif;
  }
  body{
    margin: 0;
    padding: 0;
    font-family:cursive;
    width: 100%;
  }
  .image{
    position: absolute;
    width: 100%;
  }
  .logo1{border-radius: 30px;
      float: left; 
      position: relative;
      right: 50px;  
     }
  nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      padding: 10px 0 10px 90px;
      box-sizing: border-box;
      background: #564d80;
      z-index: 4;
  }
  div.head{
      padding: 22px 20px;
      height: 80px;
      float: left;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      color: #f4f1de;
      position: relative;
      right: 50px;
      font-family: 'Times New Roman', Times, serif;
  }
  nav ul{
      list-style: none;
      float: right;
      margin: 0;
      padding: 0;
      
      
  }
  .logo{
      font-size: 20px;
  }
  nav ul li{
    display: inline;
  }
  nav ul li a{
      line-height: 80px;
      color: #00203fff;
      padding: 12px 30px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1vw;
      font-weight: bold;
  }
  nav ul li a:hover{
      background: #f4f1de;
      border-radius: 6px ;
      color: #000;
  }
  nav ul li a.active{
    background: #f4f1de;
      border-radius: 6px;
  }
  div.border{
      margin: 6% 0 0;
      width: 100%;
      background: rgba(0, 31, 63, 0.664);
      height: 635px;
      position:relative;
      top: 40%;
      
  }
  nav .fanav{
    display: none;
  }
  
 
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .wrapper{
    margin-top: 10%;
  }
  .wrapper h1{
    font-family: sans-serif;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: #0d1b46;
  }
  
  .container{ 
    max-width: 1170px;
    
    margin: auto;
  }
  ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  a:hover{
    color: #ece3e2;
  }
  .imag1{
    position: relative;
    top: 2px;
    left: 640px;
    bottom: 20px;
    float: left;
  }
  div.heading{
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  .vertical-line{
    width: 1px;
    height: 100px;
    background-color: #adefd1ff;
    position: relative;
    float:left;
    right: 100px;
    
  }
  .container{
    width: 100%;
    height:100vh;
    overflow: hidden;
}
.container .column{
    width: 25%;
    height: 100%;
    float: left;
    border-right:2px solid rgba(0,0,0,.5);
    box-sizing: border-box;
    z-index: 1;
}
.container .column:last-child{
    border-right: none;
}
.container .column .content{
    position: relative;
    height: 100%;
}
.container .column .content h1{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0,0,0,0.1);
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.2);
    font-size:15em;
    border-top:2px solid rgba(0,0,0,.5);
    border-bottom:2px solid rgba(0,0,0,.5);
}
.container .column .content .box{
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    box-sizing: border-box;
    padding: 40px;
    background: #f4f1de;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}
.container .column.active .content .box{
    opacity: 1;
    transform: translateY(-50%);
}
.container .column .content .box h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color:#262626;
}
.container .column .content .box p{
    color: #262626;
    font-size: 18px;
}
.container .column .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    pointer-events: none;
    z-index: -1;
}
.container .column.active .bg.bg1{
    background: url(https://i.ytimg.com/vi/acjgd4AIh3Y/maxresdefault.jpg) no-repeat center center fixed;
    background-size: cover;
    transition: s;
}
.container .column.active .bg.bg2{
    background: url(https://img.over-blog-kiwi.com/3/34/14/51/20190510/ob_50ad18_square-one-1.jpeg) no-repeat center center fixed;
    background-size: cover;
    transition: 2s;
}
.container .column.active .bg.bg3{
    background: url(https://upload.wikimedia.org/wikipedia/commons/a/af/Chitkara_Punjab_Entrance_Gate.jpg) no-repeat center center fixed;
    background-size: cover;
    transition: 2s;
}
.container .column.active .bg.bg4{
    background: url(https://library.chitkara.edu.in/images/gallery/pharmacy/CUP09618.jpg) no-repeat center center fixed;
    background-size: cover;
    transition: 2s;
}
  @media (max-width:700px){
    .navlink ul li{
      display: block;
      margin: 10px;
      float: left;
      
  
    }
    #cross{
      margin-left:15px;
      float: left;
    }
    .navlink ul li a{
      font-size: 15px;
    }
    .navlink ul li a:hover{
      background: rgb(120, 182, 245);
      border-radius: 6px ;
      color: #000;
    }
    nav .fanav{
      display: block;
      line-height: 80px;
      font-size: 20px;
      color: #00203fff ;
      
    }
    nav .fa-bars{
      float: right;
      margin-right: 20px;
      color: #00203fff;
      font-size: 25px;
    }
    .navlink{
      position: absolute;
      top: 0;
      right: -600px;
      z-index: 5;
      background-repeat: no-repeat;
      text-align: center;
      height: 100vh;
      width: 50vw;
      margin: 0px;
      padding: 0px;
  
    }
    .button
{
    color: #6D70C4;
    font-family: Sonder;
    font-size: 30px;
    height: 50px;
    width: 110px;
    transition: 0.4s;
    position: absolute;
    bottom: 30px;
    right: 540px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.button:hover
{
    background: #1d2064;
    border: 2px solid transparent;
    border-radius: 50px;
    color: white;
     box-shadow: 0 0 10px, 0 0 20px, 0 0 40px #6D70C4;
     cursor: pointer;
}
    
  }
  /* footer */
  .footer-distributed{
    background: -webkit-linear-gradient(left, #E07A5F, #564D80);
    
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span{
    color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  rgb(255, 255, 255);
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
  }
  
  .footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  